div.header {
  background-color: rgb(122, 124, 138);
  height: 70px;
}


h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 20px;
  color: rgb(12, 11, 11);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  text-shadow: 0 1px 0 #b5b4b4,
               0 2px 0 #b5b4b4,
               0 3px 0 #bcbcbc,
               0 4px 0 #b4b2b2,
               0 5px 0 #a6a5a5,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


div.card {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family:sans-serif;
}

h5.card-title {
  text-align: center;
  color:black;
}

button.btn.btn-primary {
  margin-left: 50px;
}